.rates-item {
  // margin: 2rem 0;
  padding: 2rem 0;

  border-top: 2px dotted $c-secondary;
  transition: all 0.2s ease-in-out;
  &:nth-child(-n + 2),
  &:nth-child(3) {
    border-top: none;
  }
  &:nth-child(odd) {
    border-left: none;
  }
  &__header {
    display: flex;
    align-items: center;
    &-icon {
      display: block;
      margin: 0 auto;
      &-container {
        display: flex;
        flex: 1;
      }
    }

    &-text {
      flex: 2;
    }
  }
  &__data {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    // & > :not(:last-child) {
    //   margin-right: 2rem;
    // }
    & > :nth-child(2) {
      margin: 0 1rem;
    }
  }
  &__code {
    &-text {
      margin: 0 1rem;
    }
  }
  &__rate-number {
    &-text {
      margin: 0;
    }
    &-subtext {
      margin: 0;
    }
  }

  &:hover {
    background-color: rgba($c-secondary, 0.2);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
}

.selected-to,
.selected-from {
  background-color: $c-primary;
  color: $c-secondary;
  &:hover {
    background-color: $c-primary;
    cursor: auto;
  }
}

.selected-from {
  background-color: $c-light-grey;
  color: $c-primary;
  &:hover {
    background-color: $c-light-grey;
  }
}
