////////////////Typography



//font sizes
$fs-xs: 1.4rem;
$fs-s: 1.6rem;
$fs-m: 1.4rem;
$fs-l: 2.6rem;
$fs-xl: 1.4rem;

//line height
$lh-d: 1;
$lh-l: 1.5;

////////////////-----------

//colors
$c-primary: #515151;
$c-light-grey: #c7c7c7;
$c-white: #ffffff;
$c-grey-light: #f5f5fc;
$c-orange-dark: #e67812;
$c-secondary: #FFC53D;
$c-green: #109c10;

$screen-size-s: 500px;
$screen-size-m: 720px;
$screen-size-l: 900px;
$screen-size-xl: 1100px;