@import "./base/settings";
@import "./base/typography";
@import "./base/layout";
@import "./components/ratesItem";
@import "./components/navigation";
@import "./components/form";
@import "./components/menuToggle";
@import "./components/navigation";
@import "./base/media";

html {
  box-sizing: border-box;
  background-color: $c-white;
}

*, ::before, ::after {
  box-sizing: inherit;
}

.rates-item__header-icon {
  max-width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}

